#pragma once

// 1. Wi-Fi Credentials
#define WIFI_SSID       "YOUR_WIFI_SSID"
#define WIFI_PASSWORD   "YOUR_WIFI_PASSWORD"

// 2. Komoot Credentials
#define KOMOOT_EMAIL    "YOUR_KOMOOT_EMAIL"
#define KOMOOT_PASSWORD "YOUR_KOMOOT_PASSWORD"
